@import 'color-font';

.last, {
    display: flex;
    background-color: color(grey);
    flex-wrap: wrap;
    width: 100%;
    

}
.inventory, .mentions, .downloads, .direct-messages {
    display: flex;
    background-color: color(grey);
    flex-wrap: wrap;
    width: 100%;
    
 }
.imag {
    height: 90px;
    width: 90px; 
 }
.inventory-text, .mentions-text, .downloads-text, .direct-messages-text {
    display: flex;

    height: 45px;
    width: 70%;
    background-color: purple;
    margin: 10px;
    padding: 20px;
    text-align: center;

}


