
.header1 {
  background: url("https://images.pexels.com/photos/417255/pexels-photo-417255.jpeg?cs=srgb&dl=calm-clouds-dawn-417255.jpg&fm=jpg");
  position: relative;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  background-repeat: no-repeat;
  border: 5px solid greenyellow;
}
.flexbox-1-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}
.agepic {
  background-color: red;
}
 .pic {
  display: flex;
  flex-flow: column; 
  justify-content: center;
  transform: rotate(90deg);
}
.age {
  position: absolute;
}
.zoomable {
  overflow: hidden;
  border-radius: 50%;
  width: 300px;
  height: 300px;
} 
.headshot {
  width: 300px;
  height: 300px; 
} 
.headshot:hover {
  transform: scale(2);
}
.flexbox-2-quote {
  width: 400px;
}
.quote {
  color:green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 50px;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: flex-end; 
}
.name {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-style: italic;
  color: white;
  height: 80%;
  justify-content: flex-end;
}
.test1 {
  display: flex;
  flex-flow: row;
  justify-content: right;
  align-items: flex-end;
}  
.test2 {
  writing-mode: vertical-rl; 
  font-size: 50px;
  font-style: italic;
  background-color: greenyellow;
  padding: 20px;
  color: white;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  padding: 150px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #4e4848;
}
tr:nth-child(even):hover {
  background-color: #a19a9a;
}
tr:nth-child(odd) {
  background-color: #a19a9a;
}
tr:nth-child(odd):hover {
  background-color: #4e4848;
}
td::first-letter {
  font-size: 100%;
  color: black;
  font-weight: bold;
}
footer {
  height: 150px;
}
.footercontainer {
 text-align: center;
 list-style: none;
}
a:hover {
  background-color:greenyellow;
  color: white;
}
i: {
  target-name:new;
  target-new:tab;
}

