body {
  background: url("https://images.pexels.com/photos/417255/pexels-photo-417255.jpeg?cs=srgb&dl=calm-clouds-dawn-417255.jpg&fm=jpg");
  background-size: 202vh 70vw;
  background-repeat: no-repeat;
  border: 5px solid greenyellow;
  margin: 1px;
  padding: 100px;
 
}
header {
 }
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
header{
  
}
.header1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  Margin: 80px;
}
.foto:hover {
  opacity: 0.3;
}
.name {
  position: absolute;
  top: 550px;
  left: 350px;
  font-size: 50px;
  font-style: italic;
  background-color: greenyellow;
  color: white;
  padding: 15px;

}
h2{
  color:#242b15;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 50px;
  
}
span.test2 {
  writing-mode: vertical-rl; 
  font-size: 50px;
  font-style: italic;
  background-color: greenyellow;
  color: white;
}
img{
  border-radius: 50%;
  display: flex;
  width: 400px;
  height: auto;
  transform: rotate(90deg);
  margin: 80px;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  padding: 150px;
 
 
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #4e4848;
}
tr:nth-child(even):hover {
  background-color: #a19a9a;
}
tr:nth-child(odd) {
  background-color: #a19a9a;
}
tr:nth-child(odd):hover {
  background-color: #4e4848;
}
td::first-letter{
  font-size: 100%;
  color: black;
  font-weight: bold;
}
footer{
  height: 150px;
  
}
.footercontainer{
 text-align: center;
 
}
a:hover {
  background-color:greenyellow;
  color: white;
}
i:{
  target-name:new;
  target-new:tab;
  }

